#{extends 'main.html' /}
#{set title:'Home' /}
 
<h2>Results for Query: ${testSQL}</h2>

    <table>
           %{ 	
           		if(iter.next())
           		{
           		com.alvazan.orm.api.z8spi.KeyValue<com.alvazan.orm.api.z8spi.meta.TypedRow> row = iter.getCurrent();
           		Collection<com.alvazan.orm.api.z8spi.meta.TypedColumn> columns =  row.getValue().getColumnsAsColl();
           		//DboDatabaseMeta database = mgr.find(DboDatabaseMeta.class, DboDatabaseMeta.META_DB_ROWKEY);

           	}%
        <thead>
        	<tr>
       			<th>NoSQLID</th>
        		#{list columns, as:'col'}
        			<th> ${col.getName()}</th>  
        			%{
           		}% 
   				#{/list} 
            </tr>
        </thead>
        %{ 
        	}        	
        }%
        <tbody>
			%{ 	
           		iter.beforeFirst();
           		while(iter.next())
           		{
           		com.alvazan.orm.api.z8spi.KeyValue<com.alvazan.orm.api.z8spi.meta.TypedRow> row = iter.getCurrent();
           		Collection<com.alvazan.orm.api.z8spi.meta.TypedColumn> columns =  row.getValue().getColumnsAsColl(); 
           		String keyName = row.getKey().toString(); 
           	}%
           	 <tr>
           	    <td> ${keyName}</td>
           	    #{list columns, as:'col'}
        			<td> ${col.getValue()}</td>  
        			%{
           		}% 
   				#{/list} 
             </tr>
        </tbody>       
        %{ 
        	}        	
        }%
    </table>
</br>
 <a href="@{Application.index()}">Back to form </a>